## /etc/udev/rules.d/98-klipper.rules
## rule to restart klipper when the printer is connected via usb
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="614e", ACTION=="add", RUN+="/bin/su -g tty pi /bin/sh -c '/bin/echo RESTART >> $(readlink /tmp/printer)'"
